@model LoginDTO
@{
	Layout = "LoginLayout";
}
<h3>Welcome To Login Page</h3>
@using (Html.BeginForm())
{
	@Html.ValidationSummary()
	{
		<p>Enter Your E-mail:@Html.TextBoxFor(x=>x.Email)</p>
		<p>Enter Your Password:@Html.PasswordFor(x=>x.Password)</p>
		<p>
			Remember Me @Html.CheckBoxFor(x=>x.Persistent)
		</p>
	}
	<input type="submit" value="Login" class="btn btn-success">
}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
