@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Welcome "@User.Identity.Name"</h2>
<h4>To make an action please choose one from the left side</h4>
<h5>Special Thanks for using my App (:</h5>